body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 20px;   
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
}

#submitBtn {
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#submitBtn:hover {
    background-color: #45a049;
}

.submit{
    display: flex;
    justify-content: center;
}

.inputName,.inputDue,.inputPriority{
    display: flex;
    align-items: center;
    gap: 10px;
}

input,select{
    padding: 8px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid black;
}

.inputName p, .inputDue p, .inputPriority p {
    width: 100px;  /* adjust as needed */
    margin: 0;     /* remove default paragraph margins */
    font-weight: bold;
}

.tasks{
    display: flex;
}



ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.task-info {
    font-size: 14px;
}

.task-actions {
    display: flex;
    gap: 8px;
}

.complete-btn {
    background-color: #e0e0e0;
}

.edit-btn {
    background-color: #d0e7ff;
}

.delete-btn {
    background-color: #ffcccc;
}

.task-details{
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    font-size: 13px;
    color: #555;
    margin-top: 6px;
}

.completed-task {
    text-decoration: line-through;
    color: #888;
}

.dashboard{
    display: flex;
    gap: 15px;
    text-align: center;
    justify-content: space-between;
}


.insight{
    background-color: #f0efee;
    padding: 12px;
    border-radius: 5px;
    flex: 1;
}

.insight h3{
    font-size: 20px;
    margin: 0;
}